

<ion-content class="content_">

  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
   
  <div class="cover">


    <p class="im_">
      <img src="../../assets/FreeMi.png" class="free_">
    </p>
    <p class="welcome_">
      <img src="../../assets/WelcomeX.png" class="welcome_">
    </p>

    <div class="btn-box">

    <button class="btn-brwn" (click)="signIn()">I have an account</button>
   
  </div>

  <div class="btn-box">

  <button class="btn-brwn" (click)="signUp()">Create an account</button>

  </div>

  </div>

  
      </ion-row>
    </ion-grid>
    


</ion-content>
