.content_{
    --background: url(../../assets/background@1X.png) 0 0/100% 100% no-repeat;
    background-repeat: no-repeat;
background-size:cover;
}

.cover {
    margin-top: 121px;
    text-align: center;
    width: 100%;
}

button.btn-brwn {
    background: #968348;
    font-size: 16px;
    width: 76%;
    height: 30px;
    margin-bottom: 10px;
    color: white;
    border-radius: 4px;
    box-shadow: 1px 1px #968348;
}








.btn-box {
    margin-bottom: 12px;
}



