
<ion-content class="content_">
  <!-- <ion-icon name="home-outline" style="float: right;"></ion-icon> -->

  <div class="cover">
   



  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
   

      <p class="im_">

        
        <img src="../../assets/setYouFree.png" class="free_">
      </p>

    <div class="btn-box">

    <button class="btn-brwn" >Free Up Extra Cash</button>
    <button class="btn-brwn" >Generate ADR Proposal</button>

    <button class="btn-brwn"  (click)="home()" >back</button>
  
  
  </div>

  </ion-row>

  </ion-grid>
  </div>

</ion-content>
