
<ion-content class="content_">


  <div class="cover">
   



  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
   

      <p class="im_">

        
        <img src="../../assets/setYouFree.png" class="free_">
      </p>

    <div class="btn-box">

    <button class="btn-brwn" (click)="FreeUp()">Need to Feee Up Extra Cash?</button>
    <button class="btn-brwn" >Tired of Too Much Debt?</button>
    <button class="btn-brwn" >In Need of Financial Inervention?</button>

  </div>

  </ion-row>

  </ion-grid>
  </div>

</ion-content>
