.content_{
    --background: url(../../assets/FreeMiBackground_SignUp.png) 0 0/100% 100% no-repeat;
    background-repeat: no-repeat;
background-size:cover;
}


button.btn-brwn {
    background: #968348;
    width: 80%;
    height: 30px;
    margin-bottom: 58px;
    color: white;
    border-radius: 4px;
    margin-top: 11px;
    font-size: 14px;
}

p.im_ {
    text-align: center;
    margin-top: 35px;
}

img.free_ {
    height: 52px;
}

.btn-box {
    margin-top: 63px;
    text-align: center;
}