

<ion-content class="content_">

  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
   


<div class="login-box">
  <h2>Sign Up</h2>

  <div class="form_i">
    <p class="p_">Username</p>
    <ion-input  class="Input_"></ion-input>
  </div>

  <div class="form_i">
    <p class="p_">Email Address</p>
    <ion-input  class="Input_"></ion-input>
  </div>

  <div class="form_i">
    <p class="p_">Password</p>
    <ion-input  class="Input_"></ion-input>
  </div>

  <!--  -->
    <!-- <span class="ch_e_">  -->

      <!-- <ion-item> -->

  <ion-row>
    <ion-col class="trm" style="display: inline-flex;">


  
    <p class="term__">

      <span class="check__">


        <ion-checkbox class="secondary_" style="margin-top: -5px;">
        </ion-checkbox>
      </span>

    </p>

      <p class="terms_">


        <span class="ch__">  I agree to the       </span> <span class="I_">terms & conditions</span>


      </p>
    </ion-col>


  </ion-row>
  
 

    <!-- </span> -->
  
      
      <!-- </ion-item> -->
  <!-- </p> -->

 <ion-row style="text-align: center;"> 
   <ion-col>
    <button class="btn-brwn" (click)="signUp()">Create an account</button>
   </ion-col>
 </ion-row>

 <ion-row style="text-align: center;"> 
  <ion-col>
    <p class="have_" (click)="loginPage()">Have an account? Click here</p>
  </ion-col>
</ion-row>


 



</div>


      </ion-row>


      </ion-grid>





</ion-content>
